<section class="actucarte">
    <div class="container">


        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-6 height-fill">
                    <ul class="nopuce2">
                        <h3 class="titre">Des conférences-débats</h3>
                        <li class="text-center"><a href="/pages/des-conferences-debats"><img
                                    src="{{ asset('img/action-senior-domicile-9.jpg' , 'theme') }}" class="img-fluid"
                                    alt="actions séniors à domicile asept imousin" /></a></li>
                        <li>Informations et échanges avec un professionnel de santé autour des clés du bien vieillir.
                        </li>
                        <li><a href="/pages/des-conferences-debats" class="btn resa ">En savoir +</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 height-fill">
                    <ul class="nopuce2">
                        <h3 class="titre">Des réunions de prévention</h3>
                        <li class="text-center"><a href="/pages/reunion-prevention"><img
                                    src="{{ asset('img/action-senior-domicile-6.jpg' , 'theme') }}" class="img-fluid"
                                    alt="actions séniors en institution asept limousin" /></a></li>
                        <li>Animées par des professionnels, elles abordent différents thèmes de prévention
                            (alimentation, accidents domestiques, santé et conduite…).</li>
                        <li><a href="/pages/reunion-prevention" class="btn resa ">En savoir +</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 height-fill">
                    <ul class="nopuce2">
                        <h3 class="titre">Des ateliers thématiques</h3>
                        <li class="text-center"><a href="/page/ateliers-seniors-a-domicile"><img
                                    src="{{ asset('img/action-senior-domicile-8.jpg' , 'theme') }}" class="img-fluid"
                                    alt="actions grand public asept limousin" /></li>
                        <li>Des ateliers thématiques animés par des professionnels</li>
                        <li><a href="/page/ateliers-seniors-a-domicile" class="btn resa ">En savoir +</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 height-fill">
                    <ul class="nopuce2">
                        <h3 class="titre">Des actions Théâtre</h3>
                        <li class="text-center"><a href="/pages/actions-theatre-seniors-a-domicile"><img
                                    src="{{ asset('img/action-senior-domicile-6quad.jpg' , 'theme') }}" class="img-fluid"
                                    alt="actions grand public asept limousin" /></li>
                        <li>Pièce de théâtre : Qu'est-ce qu'on attend pour être vieux? ET Théâtre-Forum : Points d'appui
                            - Situation aidant/aidé</li>
                        <li><a href="/pages/actions-theatre-seniors-a-domicile" class="btn resa ">En savoir +</a></li>
                    </ul>
                </div>
                <!----agenda---->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 height-fill">
                    <ul class="nopuce3">
                        <i class="far fa-calendar-check picto"></i>
                        <h3 class="titre">Agendas Séniors à domicile</h3>
                        <li class="text-center"><img
                                src="{{ asset('img/clienteles/asept-limousin-actions-seniors-domicile-240.jpg' , 'theme') }}" class="img-fluid"
                                alt="actions séniors à domicile asept imousin" /></li>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 height-fill">
                                <li><a href="agenda-correze-seniors-domicile-asept-limousin.html" class="btn resa "><i
                                            class="far fa-calendar-check"></i> Agenda Corrèze 19</a></li>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 height-fill">
                                <li><a href="agenda-creuse-seniors-domicile-asept-limousin.html" class="btn resa "><i
                                            class="far fa-calendar-check"></i> Agenda Creuse 23</a></li>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 height-fill">
                                <li><a href="agenda-haute-vienne-seniors-domicile-asept-limousin.html"
                                        class="btn resa "><i class="far fa-calendar-check"></i> Agenda Haute Vienne
                                        87</a></li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>