{% extends 'partials/_master.twig' %}

{% block main %}
{% include "partials/_header_dom.twig" %}

<section class="actucarte">
    <div class="container">


        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 borderImg ">
            <div class="row">

                <div class="centervertical2">
                    <img src="{{record.image_entete}}" class="img-fluid"
                        alt="Séniors à domicile Association santé éducation et prévention sur les territoires Limousin" />
                    <h2 class="titre">
                        {{record.titre_page}}
                    </h2>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                   <h5> {{ record.introduction}}</h5>

                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 presentation">
                    {{record.description}}
                </div>
{% if not record.Vidéo %}

{% else %}
<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 centrageitem1 paddingT30B30">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{record.Vidéo}}"
                            allowfullscreen></iframe>
                    </div>
                </div>
{% endif %}
                
               
{% if record.Infos is defined %}
                        {% for info in record.Infos %}
                        <p>
                            {% if info.titre_information_complementaire is defined %}
                            {{info.titre_information_complementaire}}
                            {% endif %}
                            {{info.information_complementaire}}
                        </p>
                        {% endfor %}
                        {% endif %}

                        {% if record.Accordéon is defined %}
                        {% for accordeon in record.Accordéon %}
                        <div id="accordion">

                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0 dom">
                                        <button class="btn btn-link" data-toggle="collapse"
                                            data-target="#collapse{{ loop.index }}" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <i class="fas fa-angle-double-right"></i>
                                            {{accordeon.titre_information_complementaire}}</button>
                                    </h5>
                                </div>
                                <div id="collapse{{ loop.index }}" class="collapse showAAA" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">

                                        {{accordeon.information_complementaire}}

                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                        {% endif %}

            </div>



        </div>
    </div>
</section>



{% include 'partials/_thematiques.twig' %}
{% include 'partials/_carouselfooter.twig' %}
{% endblock main %}